h5 {
    border-bottom: 3px solid #f0f0f0;
    padding: .5rem 0;
}

.right-shadow {
    box-shadow: 5px 1px 5px -5px #333;
    z-index: 11111111;
}

.sidebar-container {
    background: #fff;
}

.map-container {
    height: 100%;
}

.map-container .row {
    height: 100%;
}

.form-group {
    margin-bottom: .5rem;
}

.chart-container > div {
    margin: 0 auto;
}

.hidestats .stats-container {
    opacity: 0;
}

.close-icon {
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #aaa;
    line-height: 3.5rem;
    border-radius: 1.7rem;
}

.close-icon:hover {
    cursor: pointer;
    background:  #f2ecec;
}

.expand {
    line-height: 3rem;
    font-size: .8rem;
    font-family: sans;
    text-align: center;
    position: absolute;
    right: -1.4rem;
    width: 1.4rem;
    Height: 3rem;
    background: #fff;
    z-index: 1111;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.hidestats .expand {
    transform: rotateZ(180deg);
}

.hidestats {
    position: absolute;
    width: 1rem;
    z-index: 1111111111111111111;
}

.legend {
    position: absolute;
    right: 0px;
    width: 15rem;
    height: 5rem;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    z-index: 1111;
    padding: 1rem;
}

.legend-row {
    width: 100%;
    line-height: 1rem;
}

.lg-icon {
    border-radius: 10rem;
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: 1rem;
}

.lg-icon-pickup {
    background: #34d23a;
}

.lg-icon-dropoff {
    background: #51b0ff;
}